*{
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.main{
    background-color: transparent;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    height: 143px;
    margin-top: 100px;
    position: relative;
    margin-bottom: 50px;
    padding: 10px;
}
.badge{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
    z-index: 1;
}
.clock{
    position: relative;
    font-size: 80px;
    background-color: rgba(7, 5, 36, 0.47);
    height: 100%;
    width: 100%;
    border: 10px solid rgba(12, 95, 95, 0.8);
    color: #fff;
    
}
.clock span{
    color: #fff;
}